@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: 'Poppins', sans-serif;
  background-color: #121212;
}

.container header {
  width: 100%;
  padding: 8px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #2d7c35;
}

.container header h3 {
  font-size: 22px;
  color: #adbeae;
}

.container header a {
  padding: 8px 12px;

  display: flex;
  align-items: center;

  text-decoration: none;
  color: #a3d8a9;

  background-color: #215026;
  border-radius: 8px;
}

.container header a:hover {
  background-color: #1e4722;
}

.container header a p {
  margin-right: 8px;
  font-size: 14px;
}

.container main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container main .infos-card {
  width: 30%;
  padding: 24px;

  background-color: #161616;
  box-shadow: 0 0 3px #174d0a;
}

.container main .infos-card .input-group {
  width: 100%;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container main .infos-card .input-group label {
  font-size: 14px;
  color: #bed7c0;
}

.container main .infos-card .input-group input {
  padding: 12px 8px;

  font-size: 16px;
  color: #d1e6d2;

  background-color: #161616;
  border-radius: 4px;
  border: 1px solid #202020;
}

.container main .infos-card button {
  width: 100%;
  padding: 12px 8px;
  margin-top: 20px;

  font-size: 16px;
  color: #d1e6d2;

  background-color: #2d7c35;
  border-radius: 4px;
  border: 1px solid #2d7c35;

  cursor: pointer;
}

.container main .infos-card button:hover {
  background-color: #24642a;
}

.container main .infos-card .secondary-button {
  width: 100%;
  padding: 12px 8px;
  margin-top: 20px;

  font-size: 16px;
  color: #7c2d2d;

  background-color: #141414;
  border-radius: 4px;
  border: 1px solid #7c2d2d;

  cursor: pointer;
}

.container main .infos-card .secondary-button:hover {
  color: #d1e6d2;
  background-color: #7c2d2d;
}
